body{
  font-size: 30px;
  margin-top: 200px;

}

#one{
  color: aqua;
  background-color: grey;
}


#two{
color: red;
background-color: black;



}


#one a{
  text-transform: uppercase;
  text-decoration: none;
}

#two a{
  color: green;
  text-transform: uppercase;
  text-decoration: none;
}

h1{
  font-size: 55px;
}


h2{
  font-size: 45px;
}